# Telegram Bot
TELEGRAM_BOT_TOKEN=BOT_TOKEN

# Application
LOG_LEVEL=INFO

# Аутентификация
AUTH_ENABLED=true
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=  # сгенерируем скриптом
SESSION_SECRET_KEY=your-super-secret-key-change-me-123
SESSION_TIMEOUT_MINUTES=120